@import "compass";

$paragraph_box_width: 15px;

body {
	background: url(image-path('casper_mask.png')) #34994a ;
	padding: 0px;
	margin: 0 auto;
	font-family: PT Sans Caption;
}

.round {
	@include border-radius(10px);
}

.paragraph
 {
	&.yellow {
		border-left: $paragraph_box_width solid #e0e02b;
	}

	&.brown {
		border-left: $paragraph_box_width solid #595032;
	}

	&.gray {
		border-left: $paragraph_box_width solid #f0f0f0;
	}

	&.green {
		border-left: $paragraph_box_width solid #a2d943;
	}
}

.padding-left {
	&.small {
		padding-left: 1em;
	}
	&.middle {
		padding-left: 3em;
	}
}

.text-color-title {
	color: #46ab3f;
}

.text-color-content {
	color: #5c4e26;
}

.small_text {
	font-size: 14px;
}
.middle_text {
	font-size: 16px;
}
.large_text {
	font-size: 23px;
}

.wrapper {
	background: #fcfcfc;
	border-top: 10px solid;
	border-top-color: #97cbf0;
	margin: 0 auto;
	width: 65em;
	box-shadow: 0 0 10px #000;

	.nav {
		/*padding: 0px 1em 0px 1em;*/

		ul {
		margin: 0;
		padding: 0;
			li {
				list-style-type: none;
				@include inline-block;
				padding: 0.7em 0;
				background-color: #3cb53a;
				width: 8.5em;
				text-align: center;

				a {
					text-decoration: none;
					color: white;
					font-size: 17px;
				}
				a:visited {

				}
				a:hover {
					text-decoration: none;
				}
			}
			li:hover {
				background-color: #5c4e32;
			}
		}
	}

	.header {
		padding: 1em 5em 0em 5em;
		.promo {
			width: 20em;
			ul {
				list-style: none;
			}
			.promo_title{
				font-size: 12px;
			}
			.promo_content {
				font-size: 20px;
			}

		}
		.logo {
			@include inline-block;
			img {

			}
		}
		.routes {
			float: right;
			padding-top: 2em;

			.locale {
				font-size: 12px;
				text-align: right;
				padding-bottom: 4em;

				a {
					color: #adadad;
					text-decoration: none;
				}
				a:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.footer {
		background-color: #95cbf0;
		border-top: 10px solid;
		border-bottom: 5px solid;
		border-color: #dedfe0;
		padding: 1em;
		background-image: url(image-path('footer_background.png'));
		background-position: right bottom;
    	background-repeat: no-repeat;

		.label {
			@include inline-block;
			padding-left: 4em;
		}
		.contact {
			@include inline-block;
			padding-left: 4.5em;
			table {
					margin: 0;
					padding: 0;
					color: #203a4f;
					font-size: 13px;
					td {
						list-style-type: none;
					}
			}
		}
	}
	.copyright {
		width: 19em;
		color: #c2c2c2;
		font-size: 12px;
		margin: 0 auto;
		padding: 1em;
	}
}
