@import "compass";

$height_slide: 363px;

.wrapper {
	.content {
		padding: 0em 5em 0em 5em;
		.slideshow {
			margin:0 auto;
			// width:840px;
			height: $height_slide;
			position:relative;

			.slidesContainer {
				margin:0 auto;
			    // width:860px;
			    width: 100%;
			    height: $height_slide;
			    overflow:auto;
		   		position:relative;

		   		.slide {
		   			margin:0 auto;
				 	height: $height_slide;
					@include user-select(none);
					@include background-image(linear-gradient(top,
						rgba(61,179,59,0) 0%,
						rgba(61,179,59,0) 20%,
						rgba(61,179,59,1) 20%,
						rgba(61,179,59,1) 100%));

					.left {
						width: 35%;
					  	height: 70%;
					  	position: relative;
					  	bottom: -20%;
					  	left: 5%;

					  	.title {
					  		color: #55690f;
					  		padding-top: 20px;
					  	}
					  	.slogan {
					  		color: white;
						    font-size: 30px;
						    padding-top: 20px;
						    line-height: 1em;
					  	}
					  	.descripte {
					  		color: #c8ffa8;
						    font-size: 16px;
						    padding-top: 20px;
					  	}
					  	.button {
					  		margin: 2em 0em 0em 0em;


					  		a {
					  			border:solid 1px #000000;
								-moz-border-radius: 8px;
								-webkit-border-radius: 8px;
								border-radius: 8px;
					  			background: #4a3e1b;
  								padding: 1em;
							    color: white;
							    font-size: 18px;
							    text-decoration: none;
							    border: 1px #3d6614 solid;
					  		}

					  		a:hover {
								border: 0px solid #a0ed53;
								-moz-box-shadow: 1px 2px 31px #a0ed53;
								-webkit-box-shadow: 1px 2px 31px #a0ed53;
								box-shadow: 1px 2px 31px #a0ed53;
					  		}

					  		a:active {
								background: #2a732a;
								border: none;
								-moz-box-shadow: 1px 2px 20px #a0ed53;
								-webkit-box-shadow: 1px 2px 20px #a0ed53;
								box-shadow: 1px 2px 20px #a0ed53;
					  		}


					  	}
					}

					.right {
						width: 50%;
					    position: relative;
					    top: -65%;
					    right: -43%;
					}
		   		}
			}
		}
		.mission {
			border-bottom: 4px solid #ededed;
			margin: 3em 0em 1em 0em;
			.text {
				text-align: center;
				color: #4090ad;
			}
			.postscript {
				text-align: right;
				padding: 0.5em;
			}
		}
		.devline {
			table {
				width: 100%;
				padding-bottom: 5em;
				//padding-top: 4em;
				td {
					padding-top: 1em;
					vertical-align: top;
					img {
						width: 100%;
					}
					div {
						vertical-align: baseline;
						display: inline-block;

						&.descript {
							font-family: PT Sans Narrow;
							width: 12em;
							color: #5c4f27;
						}
					}
				}
			}
		}
	}
}