@import "compass";

.wrapper {
	.content {
		padding: 2em 5em 1em 5em;

		table {
			margin: 0 auto;
			tr {

				td:nth-child(even) {
					width: 25em;

				}

				td:nth-child(odd) {
					width: 17em;

				}


				td {
					background: #3cb53a;
					height: 13em;

					.image {
						text-align: center;
					}

					.title {
						color: #5c4e26;
						font-size: 20px;
						padding: 0em 0em 0em 1em;
					}

					.description {
						color: #c8ffa8;
						padding: 1em;
					}

					.links {
						/*padding: 0px 1em 0px 1em;*/

						ul {
							margin: 0;
							padding: 0;
							text-align: center;
							li {
								list-style-type: none;
								@include inline-block;
								padding: 0.7em 0;
								background-color: #72b344;
								width: 8.5em;
								text-align: center;

								a {
									text-decoration: none;
									color: white;
									font-size: 17px;
								}
								a:visited {

								}
								a:hover {
									text-decoration: none;
								}
							}
							li:hover {
								background-color: #5c4e32;
							}
						}
					}
				}
			}
		}
	}
}