@import "compass";

.wrapper {
	.content {
		padding: 2em 5em 1em 5em;
		.promobox {
			text-align: center;
			background: url(image-path('wedding.jpg'));
			@include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
			margin-bottom: 15px;
			.title-promo {
				color: #5c4e26;
				font-size: 30px;
			}
			.price-promo {
				font-size: 30px;
			}
		}
		.items {
			margin: 0 auto;
			text-align: center;	

			.item {
				margin-bottom: 4px;
				background: #3cb53a;
				height: 13em;
				width: 13em;
				@include inline-block;
				padding: 15px 15px 15px 15px;

				.image {
					text-align: center;
					padding-top: 10px;
				}

				.title {
					color: #5c4e26;
					font-size: 20px;
					padding-top: 10px;
				}

				.description {
					color: #c8ffa8;
					padding: 1em;
				}

				.links {
					/*padding: 0px 1em 0px 1em;*/

					ul {
						margin: 0;
						padding: 0;
						text-align: center;
						li {
							list-style-type: none;
							@include inline-block;
							padding: 0.7em 0;
							background-color: #72b344;
							width: 8.5em;
							text-align: center;
							margin: 0.3em;

							a {
								text-decoration: none;
								color: white;
								font-size: 17px;
							}
							a:visited {

							}
							a:hover {
								text-decoration: none;
							}
						}
						li:hover {
							background-color: #5c4e32;
						}
					}
				}
			}
		}
	}
}